@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root{
    --bg: #0D1117;
    --primary: #161B22;
    --text: lavender;
}
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 60%;
    margin: auto;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text);
    background-color: var(--bg);
}
.light-mode{
    --bg: lavender;
    --text: #0D1117;
    --primary: #f5f5f55b;
}

.header1{
    width: 850px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#lightmode{
    width: 100px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.form{
    background-color: var(--primary);
    margin-top: 15px;
    box-shadow: 1px 1px 10px black;
}
input[type='text']{
    width: 89%;
    height: 25px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary);
    border: none;
    color: var(--text);
}
input[type='text']:focus-visible{
    outline: none;
}
.fa-magnifing-glass{
    color: var(--text);
    font-size: 1rem;
    padding: 5px;
}
#submit{
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 1rem;
    cursor: pointer;
}
#pfp{
    width: 150px;
    border-radius: 50%;
}
.right{
    margin-left: 15px;
}
#result{
    display: flex;
    margin-top: 15px;
    background-color: var(--primary);
    padding: 20px;
    width: 55.5%;
    box-shadow: 1px 1px 10px black;
}
#username{
    font-family: 'Satisfy', cursive;
}
#username-url{
    text-decoration: none;
    color: rgba(0, 162, 255, 0.959);
}
#website-url, #twitter-url{
    text-decoration: none;
    color: rgba(0, 162, 255, 0.959);
}
.main{
    display: flex;
    margin-left: -5px;
    margin-top: 10px;
}
.one, .two, .three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px 17px;
    border-radius: 10px;
    background-color: var(--bg);
}
.info{
    margin-top: 10px;
}
.icon{
    width: 20px;
}
.lower-icon{
    font-size: 1.2rem;
}
.adress{
    display: flex;
    align-items: center;
}
#organization, #twitter, #website, #location{
    margin-left: 10px;
}
.top, .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adress2{
    margin-left: 30px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.join{
    display: flex;
    margin-top: 20px;
}
.thecredit{
    margin-top: 15px;
}
.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter, .fa-globe{
    color: var(--primary);
    font-size: 1.3rem;
    margin: 0 5px;
}
.fa-github:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-linkedin:hover, .fa-twitter:hover, .fa-globe:hover{
    color: var(--text);
}

#result{
    display: none;
}