@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/leaves.webp);
}
.icon{
    width: 40px;
    margin-bottom: -12px;
}
.whole{
    background-color: lightblue;
    opacity: 60%;
    padding: 80px;
    border-radius: 20px;
    border: 8px solid lightskyblue;
}
#clock{
    font-size: 5rem;
}
.dc{
    display: inline-block;
    border-bottom: 4px solid rgb(34, 34, 34);
}
.links>a{
    cursor: alias;
}