@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(50, 50, 50);
    background-image: url(img/wavy-dots.webp);
}

.highlight{
    background-color: tomato;
    color: lavender;
    padding: 0 5px;
}

.typing{
    color: lavender;
    background-color: tomato;
    padding: 0 5px;
}

.a2, .a3{
    margin-top: 5px;
}

.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter{
    color: rgb(50, 50, 50);
    font-size: 1.3rem;
    margin-right: 8px;
}
.fa-github:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-linkedin:hover, .fa-twitter:hover{
    color: rgb(117, 117, 117);
}
.thecredit{
    margin-top: 15px;
}