*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ddd;
}
.h{
    border-bottom: 5px solid lightgray;
}
.icon{
    width: 45px;
    margin-bottom: 15px;
}
#co{
    display: inline-block;
    border-radius: 8px;
    padding: 5px 95px;
    font-weight: 400;
    border: 3px solid lightgray;
    margin-top: 15px;
}
.btn{
    margin-top: 15px;
    padding: 5px 45px;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 8px;
}
/**/
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
   
@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
}