*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/wavy-dots.webp);
}
.container{
    width: 70vw;
    background-color: rgba(245, 245, 245, 0.605);
    padding: 15px;
}
#quote{
    font-size: 1.2rem;
}
#author{
    font-size: 1.2rem;
    font-weight: 600;
}
.buttons{
    margin-top: 15px;
}
#copy, #next{
    padding: 5px 50px;
    font-size: 1rem;
    background-color: slateblue;
    color: lavender;
    border: 3px solid lavender;
    cursor: pointer;
    font-weight: 500;
}