*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/wavy-dots.png);
}
.icon{
    width: 70px;
}
.h{
    border-bottom: 3px solid black;
}
.converter{
    display: flex;
    flex-direction: column;

    margin-top: 25px;
}
.thecredit{
    margin-top: 25px;
}
.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter{
    color: black;
    font-size: 1.3rem;
    margin: 0 5px;
}
input[type="text"]{
    width: 100%;
    height: 25px;

    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px 0;

    padding: 3px;
    
    font-weight: bold;
}
input[type="text"]:focus-visible{
    border: 2px solid lightseagreen;
    outline: none;
}
.fa-github:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-linkedin:hover, .fa-twitter:hover{
    transform: translateY(-5px);
    color: gray;
}