*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/papyrus.webp);
}
.icon{
    width: 45px;
    border-bottom: 5px solid lightsalmon;
    padding: 5px;
    margin-bottom: -13px;
}
.h{
    display: inline-block;
    border-bottom: 5px solid lightsalmon;
    margin-left: -5px;
}
#counter{
    font-size: 3rem;
    font-weight: bold;
    color: green;
}
input[type="text"]{
    width: 313px;
    padding: 6px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid lightgray;
}
input[type="text"]:focus-visible{
    outline: none;
}
.btn{
    margin-top: 10px;
    padding: 5px 35px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid lightgray;
}
.credit{
    margin-top: 7px;
}
.li{
    cursor: alias;
    color: lightskyblue;
}
