*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(img/symphony.png);
}
input[type="text"]{
    width: 300px;
    height: 35px;

    font-size: 1rem;
    font-weight: bold;

    padding: 4px 12px;
    border-radius: 10px;
    border: 3px solid lightgray;
}
input[type="text"]:focus-visible{
    outline: none;
}
.btn{
    margin-top: 5px;
    width: 200px;
    color: white;
    background-color: green;
    padding: 12px;
    font-size: 0.9rem;
    font-weight: bold;
    border: 3px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.header{
    display: flex;
    margin-bottom: 15px;
}
.icon{
    width: 40px;
    border-bottom: 5px solid lightcoral;
    padding: 1.5px;
}
.h{
    border-bottom: 5px solid lightcoral;
}
.credit{
    margin-top: 15px;
}
.li{
    color: lightblue;
    font-weight: 400;
    cursor: alias;
}