*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/45degreee_fabric.webp);
}
form{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
.fa-magnifying-glass{
    padding: 5px;
    font-weight: bold;
    color: black;
}
input[type="text"]{
    width: 400px;
    height: 25px;
    color: black;
    font-weight: 500;
    padding: 0 8px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
}
input[type="text"]:focus-visible{
    outline: none;
}
.head{
    margin-top: 5px;
}
.h{
    display: inline-block;
}
#location, #desc{
    font-weight: bold;
    display: inline-block;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
#icon{
    width: 100px;
    border-radius: 10px;
}
#speed, #pressure, #humidity{
    display: inline-block;
    margin-left: 5px;
}
#result{
    display: none;
}