*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/dot-grid.webp);
}
input[type="text"]{
    width: 25px;
    height: 25px;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 8px;
    border: 5px solid gray;
    padding: 3px;
}
#countdown{
    font-size: 5rem;
}
.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter{
    color: black;
    font-size: 1.3rem;
    margin: 0 5px;
}