* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97.5vh;
  border: 10px solid #f5f5f5;
  color: #252525;
  background-color: #252525;
}
#voices {
  padding: 4px 20px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: #252525;
  border: 1px solid #252525;
  border-radius: 8px;
  cursor: pointer;
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #252525;
  height: 2px;
}
/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #252525;
  height: 2px;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -7px; /* Centers thumb on the track */
  background-color: #252525;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
}
.voice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
textarea {
  width: 400px;
  height: 200px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  outline: none;
}
.main {
  padding: 10px;
  background-color: #f5f5f5;
  opacity: 80%;
  border-radius: 8px;
}
textarea,
.rate,
.pitch,
#voices {
  margin-top: 10px;
}
#stop,
#speak {
  width: 10.62vw;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.title {
  text-align: center;
}
