:root{
    --bg: silver;
    --header: darkgray;
    --primary: rgb(37, 37, 37);
    --success: green;
    --danger: coral;
}
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--bg);
    color: var(--primary);
}
.light-mode{
    --bg: rgb(37, 37, 37);
    --primary: silver;
    --header: rgb(19, 19, 19);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.icon{
    width: 50px;
    cursor: pointer;
}
.header{
    background-color: var(--header);
}
.bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter{
    color: var(--primary);
    font-size: 1.3rem;
    margin: 0 5px;
}
#sun{
    width: 50px;
    cursor: pointer;
}
.dark{
    border: none;
    background-color: transparent;
}
.poster{
    width: 200px;
    margin-top: 10px;
    border: 3px solid var(--primary);
    border-radius: 10px;
}
.bold{
    font-weight: bold;
}
.p1{
    display: flex;
    margin-bottom: 5px;
    margin-top: 150px;
}
.info{
    margin-left: 15px;
}
.watchhere{
    margin-top: 10px;
}
.watch{
    display: flex;
}
.watchlink{
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border: 3px solid var(--primary);
    border-radius: 7px;
    cursor: pointer;
}
.fmov{
    background-color: #00ACC1;
    color: lavender;
}
.nova{
    margin-left: 5px;
    background-color: #007BFF;
    color: lavender;
}
.ss{
    width: 400px;
    border-radius: 10px;
}