*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/pinstripe.png);
}
#submit{
    border: 5px solid lavender;
    color: lavender;
    border-radius: 10px;
    background-color: blueviolet;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 35px;
    cursor: pointer;
}
.icon{
    width: 100px;
}
#card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    bottom: 40%;
    color: lavender;
    border: 5px solid lavender;
    width: 350px;
    height: 180px;
}
#card{
    display: none;
}
#submitted{
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: lavender;
    background-color: seagreen;
    border: 5px solid lavender;
    border-radius: 10px;
    padding: 5px 45px;
    cursor: pointer;
}

.thecredit{
    margin-top: 15px;
}
.fa-github, .fa-facebook, .fa-youtube, .fa-linkedin, .fa-twitter, .fa-globe{
    color: rgb(53, 53, 53);
    font-size: 1.3rem;
    margin-right: 5px;
    margin-left: 1px;
}
.fa-github:hover, .fa-facebook:hover, .fa-youtube:hover, .fa-linkedin:hover, .fa-twitter:hover, .fa-globe:hover{
    color: black;
}
