*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(imgs/double-bubble-outline.webp);

}
.ca{
    margin-bottom: 15px;
    color: white;
    border-bottom: 5px solid white;
}
a{
    text-decoration: none;
    color: white;
    cursor: alias;
}
.cr{
    margin-top: 100px;
    border-bottom: 2px solid white;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    opacity: 40%;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: lightcoral;
    border-radius: 20px;
    border: 5px solid lightgray;

    height: 400px;
    width: 400px;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    border: 5px solid lightgray;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 9px;

}
#add, #sub, #reset{
    padding: 5px 15px;
    border-radius: 9px;
    border: 5px solid lightgray;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
#add{
    background-color: lightgreen;
}
#reset{
    background-color: lightsalmon;
}
#sub{
    background-color: rgba(182, 25, 25, 0.541);
}