:root {
  --primary: tomato;
}
* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/tic-tac-toe.webp);
}
.heading > h1 {
  border-bottom: 5px solid var(--primary);
}
.three-btns > button {
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
  border: 3px solid lightgray;
  border-radius: 8px;
  font-weight: bold;
}
#btn1 {
  background-color: var(--primary);
  color: lavender;
}
form {
  display: inline-block;
  background-color: rgb(233, 233, 233);
  padding: 5px;
  border-radius: 8px;
}
input[type="text"] {
  padding: 5px;
  font-weight: bold;
  background-color: rgb(233, 233, 233);
  border: none;
}
input[type="text"]:focus-visible {
  outline: none;
}
.icon {
  width: 60px;
  margin-bottom: 10px;
}
.generator {
  margin-top: 10px;
}
form > .fa-google-drive,
form > .fa-link,
form > .fa-headphones,
form > .fa-video {
  padding: 5px;
  color: black;
}
#drive {
  width: 400px;
}
#copy-input,
#copy-input-audio,
#copy-input-video {
  width: 395px;
}
#audio {
  width: 400px;
}
#video {
  width: 398px;
}
#generate,
#copy,
#copy-audio,
#copy-video {
  padding: 6px;
  width: 100px;
  border: 3px solid lightgray;
  border-radius: 8px;
  cursor: pointer;
}
#lowerpart-audio,
#lowerpart-video {
  display: none;
}
/**/
.thecredit {
  margin-top: 10px;
}
.fa-github,
.fa-facebook,
.fa-youtube,
.fa-linkedin,
.fa-twitter {
  color: black;
  font-size: 1.4rem;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
