@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/noise_lines.webp);
}
.main{
    display: flex;
    flex-direction: column;
}
#text{
    font-family: 'Caveat', cursive;

    width: 500px;
    height: 300px;

    padding: 10px;
    border: 3px solid lightgray;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: bold;
}
#text:focus-visible{
    outline: 3px solid gray;
}

#btn{
    margin-top: 15px;
    font-size: 1.5rem;
}
#counter{
    padding: 5px;
    font-size: 1rem;
    border: 3px solid lightgray;
    margin-top: 15px;
    border-radius: 10px;
}
.icon{
    width: 60px;
}
.h{
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 5px solid lightsalmon;
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
   }
   
   @keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, -0px); }
   }
.credit{
    margin-top: 15px;
}
.li{
    color: lightblue;
    cursor: alias;
}